<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pagination.css">
</head>
<body>
    <div class="pagination" style="justify-content: center;display: flex;margin-top: 20px;margin-bottom:20px;">
        <% var disabled='' %>
        <% if(page==1) { %>
            <% disabled='disabled' %>
        <% } %>
        <button id="firstpage" class="btn" onclick="window.location.href='/dashboard/task-8/display/?page=<%= 1 %>&query=<%= query %>&database=<%= database %>'" style="margin-right: 5px;" <%= disabled %>>&lt;&lt;</button>
        <button id="previouspage" class="btn" onclick="window.location.href='/dashboard/task-8/display/?page=<%= Number(page)-1 %>&query=<%= query %>&database=<%= database %>'" style="margin-right: 5px;" <%= disabled %>>&lt;</button>
        <div id="currentpage" class="btn" style="margin-right: 5px;"><%= page %></div>
        <% disabled='' %>
        <% if(page==lastpage) { %>
            <% disabled='disabled' %>
        <% } %>
        <button id="nextpage" class="btn" onclick="window.location.href='/dashboard/task-8/display/?page=<%= Number(page)+1 %>&query=<%= query %>&database=<%= database %>'" style="margin-right: 5px;" <%= disabled %>>&gt;</button>
        <button id="lastpage" class="btn" onclick="window.location.href='/dashboard/task-8/display/?page=<%= lastpage %>&query=<%= query %>&database=<%= database %>'" style="margin-right: 5px;" <%= disabled %>>&gt;&gt;</button>
    </div>
    
</body>
</html>
